@charset "UTF-8";
@font-face {
    font-family: valentine;
    src: url(fonts/valentine.ttf);
}

    main{
            background-image: linear-gradient(to right, rgb(41, 3, 3), rgb(70, 16, 16));
            width: 600px;
            box-shadow: 5px, 5px, 15px;
            padding-top: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            margin: auto;
            border-radius: 20px;
        h1 {
            color: rgb(255, 0, 0);
            font-family: valentine ;
            font-size: 2em;
            font-style: italic;
        }
        h2 {
            color: red;
            font-family: valentine ;
            font-size: 1.5em;
        }
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            font-size: 0,7em;
            color: rgb(185, 165, 165);
        }
    }
    body {
        background-color: black;
    }
