@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .

*/


body {
    background-color: rgb(234, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 150, 7);
    color: white;
    border-radius: 9px;
 }

 #guanabaraputinhhh {
    text-align: center;
    background-color: rgb(0, 150, 7);
    color: white;
    border-radius: 9px;
 }


h1 {
    color: rgb(3, 158, 3);
}
h2 {
    color: rgb(1, 94, 1);
}
p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: red;
    text-align: center;
}

.basico {
    color: rgb(0, 136, 68);

}
.intermediario {
    color: rgb(2, 105, 71);
}

.avancado{
    color: rgb(7, 124, 124);
}
.destaque {
    background-color: rgba(255, 255, 0, 0.671);
    border-radius: 4px;
    }

.destaquei {
    background-color: rgba(255, 0, 179, 0.671);
    border-radius: 4px;
}

.destak {
    background-color: rgba(0, 255, 13, 0.671);
    border-radius: 4px;
}